
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 10px;
}
/* .m{
    width: 100%;
    height: 100vh;
} */

/* #wrap {
    width: 750px;
    height: 1000px;
    padding: 0;
    overflow: hidden;
  }
  
  #scaled-frame {
    width: 1000px;
    height: 2000px;
    border: 0px;
    zoom: 1.2;
    -moz-transform: scale(0.75);
    -moz-transform-origin: 0 0;
    -o-transform: scale(0.75);
    -o-transform-origin: 0 0;
    -webkit-transform: scale(0.75);
    -webkit-transform-origin: 0 0;
  }
  
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    #scaled-frame {
      zoom: 1;
    }
  } */
  iframe{
    transform: scale(0.5);
    transform-origin: 0 0;
    width: 200%;             
    height: 200%; 
  }