.main{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 10px;
  background: url("https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8aW5zdGElMjBwb3N0fGVufDB8fDB8fHww&w=500");
}